<div class="post_reward">
	<label class="reward_btn">Buy Me A Coffee?</label>
	<div class="qr_code">
		<div class="qr_code_img">
			<img class="image" src="/images/wechat.png" style="width:80%;" title="WeChat">
		</div>
		<div class="qr_code_img">
			<img class="image" src="/images/alipay.png" style="width:80%;" title="AliPay">
		</div>
		<div class="qr_code_img">
			<img class="image" src="/images/paypal.png" style="width:80%;" title="PayPal">
		</div>
	</div>
</div>
