@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.post_reward {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center; }

.post_reward .reward_btn {
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #2c2c2c;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-color: #eeeeee;
  -moz-border-colors: none;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-radius: 30px;
  cursor: pointer; }

.post_reward .reward_btn:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both; }

.post_reward .qr_code {
  margin-top: 15px;
  display: none;
  padding: 5px; }

.post_reward .qr_code .qr_code_img {
  display: inline-block;
  height: auto;
  width: 30%;
  max-width: 300px; }

.post_reward .powered_text {
  font-size: 12px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  padding-bottom: 15px;
  text-align: right; }
